.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;

  th,
  td {
    padding: 8px 12px;
  }

  thead {
    background: $blue;
    color: white;
    tr {
      th {
        text-align: left;
        font-size: 20px;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background: $grey_1;
      }
      &:nth-child(odd) {
        background: $grey_2;
      }
      td {
        font-size: 16px;
      }
    }
  }
}
